<a href="https://colab.research.google.com/github/matiasenriqueva/Proyecto-Final-Machine-Learning/blob/main/MLPF_S1_Obtain.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Machine Learning, Proyecto de curso - Semana 1 Obtain**

Los datos utilizados para el siguiente protecto han sido rescatados de WISDM Lab: https://www.cis.fordham.edu/wisdm/dataset.php

Una de las cosas a considerar es que no se específico con cual de los data set si el raw o el transformed, asi que se obtuvieron los datos de ambos datasets.

El archivo .arff no se encontraba del todo en un formato en específico, por lo que, modificando el archivo con un editor de texto, se tuvieron que eliminar espacios y dobles comillas innecesarias para el correcto cargado de los datos y visualización del data frame.

Mientras que en el raw se tuvieron que saltar los elementos con lineas en blancos, o con más de una entrada por fila.

# Carga archivo .arff

In [ ]:
import numpy as np
import pandas as pd
from scipy.io import arff

Se monta la carpeta de drive que aloja los datasets

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

Se carga el archivo .arff y se deja en forma de dataframe

In [ ]:
data = arff.loadarff('/content/drive/MyDrive/CourseML/Datasets/WISDM/WISDM_ar_v1.1_transformed.arff')
dataset=pd.DataFrame(data[0])
dataset.head(5)

,UNIQUE_ID,user,X0,X1,X2,X3,X4,X5,X6,X7,...,YPEAK,ZPEAK,XABSOLDEV,YABSOLDEV,ZABSOLDEV,XSTANDDEV,YSTANDDEV,ZSTANDDEV,RESULTANT,class
0,1.0,b'33',0.04,0.09,0.14,0.12,0.11,0.10,0.08,0.13,...,293.94,1550.00,3.29,7.21,4.00,4.05,8.17,4.05,11.96,b'Jogging'
1,2.0,b'33',0.12,0.12,0.06,0.07,0.11,0.10,0.11,0.09,...,269.44,1233.33,4.23,6.88,4.05,5.43,8.19,5.43,12.05,b'Jogging'
2,3.0,b'33',0.14,0.09,0.11,0.09,0.09,0.11,0.12,0.08,...,248.65,1780.00,4.18,6.89,4.07,5.55,8.19,5.55,11.99,b'Jogging'
3,4.0,b'33',0.06,0.10,0.09,0.09,0.11,0.07,0.12,0.10,...,709.09,1380.00,2.26,4.13,2.49,2.87,4.95,2.87,10.69,b'Walking'
4,5.0,b'33',0.12,0.11,0.10,0.08,0.10,0.14,0.10,0.11,...,3300.00,1775.00,2.29,3.94,2.41,3.08,4.64,3.08,10.80,b'Walking'

Se arreglan los errores de codificación de algunas columnas

In [ ]:
dataset['user'] = dataset['user'].str.decode('utf-8')
dataset['class'] = dataset['class'].str.decode('utf-8')
dataset.head()

,UNIQUE_ID,user,X0,X1,X2,X3,X4,X5,X6,X7,...,YPEAK,ZPEAK,XABSOLDEV,YABSOLDEV,ZABSOLDEV,XSTANDDEV,YSTANDDEV,ZSTANDDEV,RESULTANT,class
0,1.0,33,0.04,0.09,0.14,0.12,0.11,0.10,0.08,0.13,...,293.94,1550.00,3.29,7.21,4.00,4.05,8.17,4.05,11.96,Jogging
1,2.0,33,0.12,0.12,0.06,0.07,0.11,0.10,0.11,0.09,...,269.44,1233.33,4.23,6.88,4.05,5.43,8.19,5.43,12.05,Jogging
2,3.0,33,0.14,0.09,0.11,0.09,0.09,0.11,0.12,0.08,...,248.65,1780.00,4.18,6.89,4.07,5.55,8.19,5.55,11.99,Jogging
3,4.0,33,0.06,0.10,0.09,0.09,0.11,0.07,0.12,0.10,...,709.09,1380.00,2.26,4.13,2.49,2.87,4.95,2.87,10.69,Walking
4,5.0,33,0.12,0.11,0.10,0.08,0.10,0.14,0.10,0.11,...,3300.00,1775.00,2.29,3.94,2.41,3.08,4.64,3.08,10.80,Walking

# Carga archivo .txt RAW

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/CourseML/Datasets/WISDM/WISDM_ar_v1.1_raw.txt',header=None, on_bad_lines='skip')

col_names=['user', 'activity', 'timestamp', 'x-accelerator', 'y-accel', 'z-accel']

df.columns = col_names
df

,user,activity,timestamp,x-accelerator,y-accel,z-accel
0,33,Jogging,49105962326000,-0.694638,12.680544,0.50395286;
1,33,Jogging,49106062271000,5.012288,11.264028,0.95342433;
2,33,Jogging,49106112167000,4.903325,10.882658,-0.08172209;
3,33,Jogging,49106222305000,-0.612916,18.496431,3.0237172;
4,33,Jogging,49106332290000,-1.184970,12.108489,7.205164;
...,...,...,...,...,...,...
1086461,19,Sitting,131623331483000,9.000000,-1.570000,1.69;
1086462,19,Sitting,131623371431000,9.040000,-1.460000,1.73;
1086463,19,Sitting,131623411592000,9.080000,-1.380000,1.69;
1086464,19,Sitting,131623491487000,9.000000,-1.460000,1.73;
1086465,19,Sitting,131623531465000,8.880000,-1.330000,1.61;